{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    <div class="item">
    {% for skill in skills.toolset %}

      <span style="border-radius: 25px; border: 2px solid #2d7788; display:block; padding: 5px; height: 20px; margin: 5px;">{{ skill.name }}</span>
<!--
      <h3 class="level-title">{{ skill.name }}</h3>
-->
      <!--
      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div>//level-bar-->

    {% endfor %}
    </div><!--//item-->

  </div>

</section><!--//skills-section-->
{% endif %}
